#a {
width: 640px;
margin: 0 auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ol > li {
	margin: 20px 0;
	font-size: 20px;
	line-height: 26px;
}

ul > li {
	margin: 10px 0;
	font-size: 20px;
	line-height: 26px;
}

p {
	margin: 10px 0;
	font-size: 24px;
	line-height: 32px;
}

.colour {
  background-color:  #def6ed;
  color: black;
  width:50%;
  padding: 15px;
  margin-left: : 25px;
  margin-right: 25px;
  margin: auto;
  border-radius: 4px;
}
h2 {
	font-size: 36px;
	line-height: 36px;
}
h1 {
	font-size: 32px;
	line-height: 32px;
}
